<a href="{{ group.get_absolute_url }}" class="card border border-5 border-success mb-2 d-block link-success"
   style="text-decoration: none">
    <div class="card-header border-success">
        {{ forloop.counter }}) {{ group.group_info.name }}
        ({{ group.group_info.owner.username }} -
        {{ group.group_info.owner.profile.first_name }}
        {{ group.group_info.owner.profile.last_name }})
    </div>
    <div class="card-body">
        {% include 'home_page/total.html' %}
    </div>
    <div class="card-footer text-muted border-success">
        Created at {{ group.created_at }}
    </div>
</a>