{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                {% include 'home_page/group_filter.html' %}
            </div>

            <div class="col-8">
                {% include 'home_page/breadcrumb.html' %}
                <div class="row row-cols-2">
                    {% for group in user_groups %}
                        <div class="col">
                            {% include 'home_page/group.html' %}
                            </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col">
                {% include 'home_page/converter.html' %}
            </div>

        </div>
    </div>
{% endblock %}

