{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block title %}MOF-Auditor{% endblock %}

{% block content %}

    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="display-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Invitations</li>
            </ol>
        </nav>
        <a class="btn btn-primary" href="{% url 'send_invitation' %}">+ To invite</a>

        {% include 'invitations/incoming.html' %}

        {% include 'invitations/outgoing.html' %}

    </div>
{% endblock %}