{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block title %}Send invitation{% endblock %}

{% block content %}
    <div class="row">

        <div class="col text-end">
            <a href="../" class="btn btn-primary btn-lg mx-2 my-1">Back</a>
        </div>

        <div class="col-8">
            <h1>Send invitation</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
            <div class="text-danger">{{ message }}</div>
        </div>

        <div class="col">
        </div>

    </div>
{% endblock %}