{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block title %}Send invitation{% endblock %}

{% block content %}
    <div class="row">

        <div class="col text-end">
        </div>

        <div class="col-8">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="display-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item "><a href="{% url 'invitation_list' %}">Invitations</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Send invitation</li>
                </ol>
            </nav>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
            <div class="text-danger">{{ message }}</div>
        </div>

        <div class="col">
        </div>

    </div>
{% endblock %}