{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block title %}Settings for group "{{ group_name }}"{% endblock %}

{% block content %}
    <div class="row">

        {#        left#}
        <div class="col">
        </div>

        {#        center#}
        <div class="col-8">

            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="display-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Groups</a></li>

                    <li class="breadcrumb-item"><a href="
                                        {% for pub_idd in pub_id %}
{% url 'group_settings' pub_id %}
                    {% endfor %}
">Group "{{ group_name }}"</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Settings</li>
                </ol>
            </nav>

            <form method="POST">
                <div class="list-group list-group-numbered">
                    {% if update_is_allowed or owner == request.user %}
                        <a href="editing/" class="list-group-item list-group-item-action"
                           aria-current="true">Editing</a>
                    {% else %}
                        <a href="editing/" class="list-group-item list-group-item-action disabled" aria-current="true">Editing</a>
                    {% endif %}

                    {% if owner == request.user %}
                        <a href="privacy/" class="list-group-item list-group-item-action">Privacy</a>
                        <a href="members/" class="list-group-item list-group-item-action">Members</a>
                    {% else %}
                        <a href="privacy/" class="list-group-item list-group-item-action disabled">Privacy</a>
                        <a href="members/" class="list-group-item list-group-item-action disabled">Members</a>
                    {% endif %}

                    {% if delete_is_allowed or owner == request.user %}
                        {% csrf_token %}
                        <input type="hidden" name="action" value="delete">
                        <button type="submit" class="list-group-item list-group-item-action text-danger">Delete</button>
                    {% else %}
                        <button type="button" class="list-group-item list-group-item-action" disabled>Delete
                        </button>
                    {% endif %}
                    {% csrf_token %}
                    <input type="hidden" name="action" value="leave">
                    <button type="submit" class="list-group-item list-group-item-action text-danger">Leave</button>

                </div>
            </form>
        </div>

        {#        right#}
        <div class="col">
        </div>

    </div>

{% endblock %}