{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block title %}Settings for group "{{ group_name }}"{% endblock %}

{% block content %}
    <div class="row">

        <div class="col text-end">
            <a href="{% url 'index' %}" class="btn btn-primary btn-lg mx-2 my-1">Back</a>
        </div>

        <div class="col-8">
            <h1>Settings for group "{{ group_name }}"</h1>

            <div class="list-group list-group-numbered">
                {% if update_is_allowed %}
                    <a href="editing/" class="list-group-item list-group-item-action" aria-current="true">Editing</a>
                {% else %}
                    <a href="editing/" class="list-group-item list-group-item-action disabled" aria-current="true">Editing</a>
                {% endif %}

                {% if owner == request.user %}
                    <a href="privacy/" class="list-group-item list-group-item-action">Privacy</a>
                    <a href="members/" class="list-group-item list-group-item-action">Members</a>
                {% else %}
                    <a href="privacy/" class="list-group-item list-group-item-action disabled">Privacy</a>
                    <a href="members/" class="list-group-item list-group-item-action disabled">Members</a>
                {% endif %}

                {% if delete_is_allowed %}
                    <a href="delete/" class="list-group-item list-group-item-action text-danger">Delete</a>
                {% else %}
                    <a href="delete/" class="list-group-item list-group-item-action text-danger disabled">Delete</a>
                {% endif %}
                <a href="leave/" class="list-group-item list-group-item-action text-danger">Leave</a>
            </div>


        </div>
        <div class="col">

        </div>
    </div>

{% endblock %}