{% extends "base.html" %}
{% block title %}MOF-Auditor{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col">
            </div>

            <div class="col-8">
                {% include 'analytics/breadcrumb.html' %}

                <div class="d-flex flex-row">
                    {% for balance in balances %}
                        {% if forloop.counter0|divisibleby:2 %}
                            </div>
                            <div class="d-flex flex-row">
                        {% endif %}
                        <div id="balance_{{ balance.pub_id }}">
                        </div>
                    {% endfor %}
                    </div>
            </div>

            <div class="col">
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'analytics/load_ajax_api.html' %}
{% endblock %}
