{% extends "base.html" %}
{% block title %}MOF-Auditor{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col">
            </div>

            <div class="col-8">
                {% include 'analytics/breadcrumb.html' %}

                <!--Div that will hold the pie chart-->
                <div id="chart_div"></div>

            </div>

            <div class="col">
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'analytics/load_ajax_api.html' %}
{% endblock %}
