<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages': ['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
        {% for balance in balances %}
            // Create the data table.
            var data_{{ balance.pub_id }} = new google.visualization.DataTable();
            data_{{ balance.pub_id }}.addColumn('string', 'Categories');
            data_{{ balance.pub_id }}.addColumn('number', 'Amount');
            data_{{ balance.pub_id }}.addRows([
                {% for category, amount in balance.get_total_by_each_category.items %}
                    ['{{ category }}', {{ amount }}],
                {% endfor %}
            ]);

            // Set chart options
            var options_{{ balance.pub_id }} = {
                'title': '{{ balance.name|upper }}',
                'width': 600,
                'height': 500
            };

            // Instantiate and draw our chart, passing in some options.
            var chart1 = new google.visualization.BarChart(document.getElementById('balance_{{ balance.pub_id }}'));
            chart1.draw(data_{{ balance.pub_id }}, options_{{ balance.pub_id }});
        {% endfor %}
    }
</script>
