{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block title %}Settings for group "{{ group_name }}"/Editing{% endblock %}

{% block content %}

    <div class="row">

        <div class="col text-end">
        </div>

        <div class="col-8">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="display-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Groups</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'balance_and_transaction_list' pub_id %}">Group "{{ group_name }}"</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'group_settings' pub_id %}">Settings</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Editing</li>
                </ol>
            </nav>

            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ group_info_form|crispy }}
                <button type="submit" class="save btn btn-primary">Apply changes</button>
            </form>
        </div>

        <div class="col">
        </div>
    </div>

{% endblock %}