{% for invited_user in invited_users %}
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="user-{{ forloop.counter }}"
               name="invited_users_{{ permission_type.name }}" value="{{ invited_user.username }}"
                {% for permission in permissions %}
                    {% if invited_user == permission.user %}
                        {% for type in permission.types.all %}
                            {% if type.name == permission_type.name %}
               checked
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
        >
        <label class="form-check-label" for="user-{{ forloop.counter }}">
            {{ invited_user.profile.first_name }}
            {{ invited_user.profile.last_name }}
            ({{ invited_user.username }})
        </label>
    </div>
{% endfor %}