{% extends "base.html" %}
{% block title %}MOF-Auditor{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col ">
            </div>

            <div class="col-8">
                {% include 'groups/breadcrumb.html' %}

                {% for balance in group.balances.all %}
                    {% if not balance.private or balance.owner == request.user %}
                        {% include 'groups/balance.html' %}
                    {% endif %}
                {% endfor %}

            </div>

            <div class="col">
            </div>

        </div>
    </div>
{% endblock %}

