{% extends "base.html" %}
{% block title %}MOF-Auditor{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col text-end">
                <a href="{% url 'index' %}" class="btn btn-primary btn-lg mx-2 my-1">Back</a>
            </div>

            <div class="col-8">
                <div class="d-flex flex-row justify-content-between py-2">
                    <h1 class="display-6 fw-bold">
                        {{ group.group_info.name }}
                    </h1>
                </div>

                {% for balance in group.balances.all %}
                    {% if not balance.private or balance.owner == request.user %}
                        <div>
                            <div class="display-6">
                                {{ balance.name }}
                                (Owner:
                                {{ balance.owner.profile.first_name }}
                                {{ balance.owner.profile.last_name }} -
                                {{ balance.owner.username }})
                            </div>
                            {% include 'groups/transaction_list.html' %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

            <div class="col">
            </div>

        </div>
    </div>
{% endblock %}

