{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block title %}Edit group{% endblock %}

{% block content %}

    <div class="container">
        <h1>Edit Group</h1>
{#        {% for field in group_info_form %}#}
{#        <form method="POST" class="post-form d-inline">#}
{#            {% csrf_token %}#}
{#            {{ field|as_crispy_field }}#}
{#            <button type="submit" class="save btn btn-primary">Apply changes</button>#}
{#        </form>#}
{#        {% endfor %}#}
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ group_info_form|crispy }}

            <button type="submit" class="save btn btn-primary">Apply changes</button>
        </form>

        {% include 'groups/permission_form_for_invited_users.html' %}

    </div>

{% endblock %}