<label for="id_name" class="form-label">Members</label><br>
<button type="button" class="btn btn-primary mb-3">+ To invite</button>

{% for user in invited_users %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="invited_user" value="{{ user.username }}"
                   placeholder=""
                   aria-label="Recipient's username" aria-describedby="button-addon2 {{ user.username }}">
            <button class="btn btn-outline-danger" type="submit" id="button-addon2 {{ user.username }}">Kick
            </button>
        </div>
    </form>
{% endfor %}
