<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvasNavbar" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
        <a class="text-bg-secondary p-2 border-bottom" href="{% url 'index' %}">Groups</a>
        <a class="text-bg-secondary p-2 border-bottom" href="{% url 'get_balance_list' %}">Balances</a>
        <a class="text-bg-secondary p-2 border-bottom" href="{% url 'operation_list' %}">Operations</a>
        <a class="text-bg-secondary p-2 border-bottom disabled" href="#">Analytics(Not ready)</a>
        <a class="text-bg-secondary p-2 border-bottom" href="{% url 'invitation_list' %}">Invitations</a>
    </div>
</div>