<p>{{ forloop.counter }})</p>
<table class="table">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Currency</th>
        <th scope="col">Type</th>
        <th scope="col">Owner</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">

    {% for user in group.invited_users.all %}
        {% for balance in user.balances.all %}

            {% if group in balance.groups.all %}
                {% if not balance.private %}
                    {% if user in group.invited_users.all %}

                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ balance.name }}</td>
                            <td>{{ balance.total }}</td>
                            <td>{{ balance.currency }}</td>
                            <td>{{ balance.type }}</td>
                            <td>{{ balance.owner.profile.first_name }} {{ balance.owner.profile.last_name }}</td>
                        </tr>

                    {% endif %}
                {% endif %}
            {% endif %}

        {% endfor %}
    {% endfor %}

    </tbody>
</table>




