<p>
<div class="btn-group">
    <div class="btn btn-secondary">Total balance</div>
    <div class="btn btn-secondary">Amount</div>
    <div class="btn btn-secondary">Currency</div>
    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
        &#8595;
    </button>
</div>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
    </div>
</div>