{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col">

            </div>

            <div class="col-8">

                <div class="py-2">
                    <a class="btn btn-danger" href="groups/create/">To create new group</a>
                    <a class="btn btn-primary" href="{% url 'send_invitation' %}">+ To invite</a>
                </div>

                {% for group in user_groups %}
                    <div class="d-flex flex-row justify-content-between py-2">
                        <a href="groups/{{ group.pub_id }}/" class="btn btn-secondary display-6 fs-2">
                            {{ forloop.counter }})
                            {{ group.group_info.name }}
                            (Owner: {{ group.group_info.owner.profile.first_name }}
                            {{ group.group_info.owner.profile.last_name }})
                        </a>
                        <div class="material-symbols-rounded">
                            <a class="setting-setting" href="groups/{{ group.pub_id }}/settings/">settings</a>
                        </div>
                    </div>
                    {% include 'user_groups.html' %}


                {% endfor %}
            </div>

            <div class="col">
                {% include 'converter.html' %}
            </div>

        </div>
    </div>
{% endblock %}

