<p>{{ forloop.counter }})</p>
<table class="table">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Amount</th>
        <th scope="col">Currency</th>
        <th scope="col">Type</th>
        <th scope="col">Owner</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">


        {% for user in group.users.all %}
            {% for balance in user.balances.all %}
                <tr>
                    <th scope="row">{{ balance.name }}</th>
                    <td></td>
                    <td>{{ balance.currency }}</td>
                    <td>{{ balance.type }}</td>
                    <td>{{ balance.owner }}</td>
                </tr>

            {% endfor %}
        {% endfor %}

    </tbody>
</table>




