<div class="card border border-5 border-primary mb-2">
    <div class="card-header border-dark">
        <div class="d-flex flex-row justify-content-between">
            <div class="">
                <a class="link-primary" href="{{ group.get_absolute_url }}">
                    {{ forloop.counter }}) {{ group.group_info.name }}
                    ({{ group.group_info.owner.username }} -
                    {{ group.group_info.owner.profile.first_name }}
                    {{ group.group_info.owner.profile.last_name }})
                </a>
            </div>
            <div>
                <a class="btn btn-primary" href="{{ group.get_absolute_url }}settings/">settings</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        {% include 'start_page/balances.html' %}
    </div>
    <div class="card-footer text-muted border-dark">
        Created at {{ group.created_at }}
    </div>
</div>