{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                {% include 'start_page/group_filter.html' %}
            </div>

            <div class="col-8">
                {% for group in user_groups %}
                    {% if group.group_info.owner == request.user %}
                        {% include 'start_page/authorized_user_group.html' %}
                    {% else %}
                        {% include 'start_page/group.html' %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col">
                {% include 'start_page/converter.html' %}
            </div>

        </div>
    </div>
{% endblock %}

