{% if group.total_by_currencies %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Total</th>
            <th scope="col">Currency</th>
        </tr>
        </thead>
        <tbody>
        {% for total, currency in group.total_by_currencies.items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ currency }}</td>
                <td>{{ total }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% else %}
    <div class="fs-3">Empty</div>
{% endif %}