{% extends "base.html" %}
{% block title %}MOF-Auditor{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col">
            </div>

            <div class="col-8">
                {% include 'balances/breadcrumb.html' %}
                <div class="py-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#AddBalance-{{ balance.pub_id }}">
                        Add balance
                    </button>
                </div>

                {% for balance in balances %}
                    {% include 'balances/balance.html' %}
                {% endfor %}
            </div>

            <div class="col">
            </div>

        </div>
    </div>
    {% include 'balances/add_balance_modal.html' %}
{% endblock %}

