{% extends "base.html" %}
{% block title %}MOF-Auditor{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col text-end">
                <a href="{% url 'index' %}" class="btn btn-primary btn-lg mx-2 my-1">Back</a>
            </div>

            <div class="col-8">
                <div>
                    <h1 class="display-6 fw-bold">
                        My balances
                    </h1>
                </div>
                <div class="d-flex flex-row justify-content-between py-2">
                    <div class="py-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#AddBalance-{{ balance.pub_id }}">
                            Add balance
                        </button>

                    </div>

                </div>

                {% for balance in balances %}
                    <div>
                        <div class="d-flex display-6 justify-content-between">
                            {{ balance.name }} ({{ balance.currency }})
                            <div class="material-symbols-rounded">
                                <a class="setting-setting" href="{{ balance.pub_id }}/">settings</a>
                            </div>
                        </div>

                        {% include 'balances/transaction_list.html' %}

                    </div>
                {% endfor %}

            </div>

            <div class="col">
            </div>

        </div>
    </div>
    {% include 'balances/balance_modal.html' %}
{% endblock %}

