{% extends "base.html" %}
{% block title %}MOF-Auditor{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col text-end">
                <a href="{% url 'index' %}" class="btn btn-primary btn-lg mx-2 my-1">Back</a>
            </div>

            <div class="col-8">
                <div class="bg-info bg-opacity-25 border border-secondary mb-2 p-2 rounded-5">
                    <div class="d-flex display-6 justify-content-between bg-info p-3 rounded-bottom rounded-5">
                        {{ balance.name }} ({{ balance.currency }})
                        <div class="material-symbols-rounded">
                            <a class="setting-setting" href="{{ balance.get_absolute_url }}settings/">settings</a>
                        </div>
                    </div>

                    {% include 'balances/transaction_list.html' %}

                </div>

            </div>

            <div class="col">
            </div>

        </div>
    </div>
    {% include 'balances/add_balance_modal.html' %}
{% endblock %}

