<table class="table table-borderless">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Amount</th>
        <th scope="col">Category name</th>
        <th scope="col">Category type</th>
        <th scope="col">Comment</th>
        <th scope="col">Created at</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">

    {% for transaction in balance.transactions.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.category.name }}</td>
            <td>{{ transaction.category.type }}</td>
            <td>{{ transaction.comment }}</td>
            <td>{{ transaction.created_at }}</td>

            {% if balance.owner == request.user %}
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            {% endif %}

        </tr>
    {% endfor %}

    {% if balance.owner == request.user %}
        <tr>
            <td colspan="7 text-danger">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#AddTransaction-{{ balance.pub_id }}">
                    Add transaction
                </button>
                {% include 'balances/add_transaction_modal.html' %}
            </td>
        </tr>
    {% endif %}

    </tbody>
</table>

